body {
    user-select: none;
    background-color: #297F87;
    font-family: Helvetica;
    overflow: hidden;
}

#game {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

#footer {
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #297F87;
    text-align: center;
    font-size: .8rem;
}

#counter {
    text-align: center;
    font-size: 8rem;
    color: #F6D167;
}

#per_second {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #8b1616;
}

.sbs {
    display: block;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.sb1 {
    background: #FFF7AE;
    border: 5px solid #F6D167;
    border-bottom-width: 15px;
    color: #DF2E2E;
    border-radius: 15px;
}

.sb1:hover {
    background-color: #fff1cb;
    transition: transform 80ms ease-in;
}

.sb1:active {
    border-color: #a72e2e;
    background: #d17e02;
    color: #F6D167;
    transform: scaleX(85%) scaleY(85%);
    transition: transform 10ms ease-in;
}

/* Items */

#items {
    margin-bottom: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 10px;
    overflow-y: auto;
}

.item {
    display: block;
    border: 1px solid #F6D167;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    opacity: .5;
}

.item:last-child {
    margin-bottom: 80px;
}

.item span {
    display: block;
}

.item_buyable {
    opacity: 1.0;
}

.item_buyable:hover {
    background: #FFF7AE;
}

.item_buyable:active {
    background-color: #DF2E2E;
}

/* Particles */
.particle {
    width: auto;
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
}

.score {
    font-weight: bold;
    font-size: 1.3rem;
    color: red;
}
