body {
    user-select: none;
    background-color: #297F87;
    font-family: Helvetica;
}

#game {
    max-width: 1000px;
    margin: auto;
}

#counter {
    text-align: center;
    font-size: 8rem;
    color: #F6D167;
}

#per_second {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #8b1616;
}

.sbs {
    display: block;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.sb1 {
    background: #FFF7AE;
    border: 5px solid #F6D167;
    border-bottom-width: 15px;
    color: #DF2E2E;
    border-radius: 15px;
}

.sb1:active {
    border-color: #a72e2e;
    background: #DF2E2E;
    color: #F6D167;
}

/* Items */

#items {
    list-style: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.item {
    display: block;
    border: 1px solid #F6D167;
    border-radius: 15px;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px;
    opacity: .5;
}

.item span {
    display: block;
}

.item_buyable {
    opacity: 1.0;
}

.item_buyable:hover {
    background: #FFF7AE;
}

.item_buyable:active {
    background-color: #DF2E2E;
    
}
